* text=auto eol=lf

# Бинарники
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.zip binary
*.tar.gz binary
*.woff* binary

# Exclude dependency installs from archives and prevent accidental tracking
root/node_modules/ export-ignore
root/frontend/node_modules/ export-ignore
